:root {
  --primary: #18b978;
}

.cart--btn {
  padding: 8px 20px;
  border-radius: 20px;
  outline: none;
  border: none;
  cursor: pointer;
}

.cart--btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

.cart--btn--outline {
  background-color: #f54f2b;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid #f54f2b;
  transition: all 0.3s ease-out;
  background-color: #f54f2b;
  color: #fff;
  margin-top: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.cart--btn--medium {
  padding: 3px 30px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.cart--btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.cart--btn--medium:hover,
.cart--btn--large:hover {
  background: #fff;
  color: #242424;
  transition: all 0.3s ease-out;
}
