* {
  font-family: "Montserrat", sans-serif;
}

.flexParent {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flexParent > div {
  width: 200px;
  min-height: 200px;
  margin: 10px;
  border-radius: 10px;
}
input {
  width: 50px;
  text-align: center;
}
div {
  text-align: center;
}
